body{
   background-color: rgb(134, 124, 124);
   color: wheat;
   background-image:url(planepie.png);
   background-repeat:repeat-x;
   background-size:cover;
}

.my-details {
   background-color: rgba(128, 128, 128, 0.836);
   text-align: center;
   list-style-type:none;
   margin: 30px;
}

.name {
   text-align: center;
}
